[user]
	email = skarakayali@gmail.com
	name = Selçuk Karakayalı
[core]
	editor = vim
	excludesfile = /Users/karakays/.gitrc/.gitignore_global
[commit]
	template = /Users/karakays/.gitrc/.stCommitMsg
[alias]
    hist = log --all --decorate --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    st = status
[color]
	ui = true
