#!/usr/bin/env bash

# $HOME/.aliases

alias sudo='sudo '                                      # enable aliases to be sudo’ed
alias cp="cp -iv"
alias mv="mv -iv"
alias mkdir="mkdir -pv"
alias rm="rm -v"
alias ll="ls -FGlAhto"                                  # list with details
alias cpd="cp -R"                                       # copy directory tree
alias rmd="rm -R"                                       # rm directory tree
alias path="echo -e ${PATH} \
| tr ':' '\n'"                                          # echo $PATH pretty
alias grep="grep -i --color"                            # colorized grep match
alias dus="du -sh | cut -f1"
alias py2=python2.7
alias py3=python3.5
alias tmux="tmux -f $TMUXCONF"
alias tmux_dt="tmux detach"
alias tmux_ls="tmux list-sessions"
alias config="/usr/bin/git \
--git-dir=$HOME/.cfg/ \
--work-tree=$HOME"                                      # git repository for .files
alias redis_start="sudo redis-server \
/opt/local/etc/redis.conf &"
alias pg95_start="sudo /opt/local/etc/
LaunchDaemons/org.macports.postgresql95-server/\
postgresql95-server.wrapper start"
alias pg95_stop="sudo  /opt/local/etc/
LaunchDaemons/org.macports.postgresql95-server/\
postgresql95-server.wrapper stop"
alias pg96_start="sudo /opt/local/etc/\
LaunchDaemons/org.macports.postgresql96-server/\
postgresql96-server.wrapper start"
alias pg96_stop="sudo  /opt/local/etc/\
LaunchDaemons/org.macports.postgresql96-server/\
postgresql96-server.wrapper stop"
alias rabbitmq_start="sudo rabbitmq-server"
alias rabbitmq_stop="sudo rabbitmqctl stop"
