#!/usr/bin/env bash

alias sudo='sudo '                                      # enable aliases to be sudo’ed
alias cp="cp -iv"
alias mv="mv -iv"
alias mkdir="mkdir -pv"
alias rm="rm -v"
alias l="ls -FlhAtpo"
alias ll="ls -Flahtp"
alias cpd="cp -R"                                       # copy directory tree
alias rmd="rm -rfv"
alias path="echo -e ${PATH} \
| tr ':' '\n'"                                          # pretty PATH 
alias grep="grep -in --color"                           # ignore-case with line number
alias dus="du -sh | cut -f1"
alias pbcopy=$(hash pbcopy 2>/dev/null \
&& echo "pbcopy" || echo "xclip -selection clipboard")
alias pbpaste=$(hash pbpaste 2>/dev/null \
&& echo "pbpaste" || echo "xclip -selection clipboard -o")
alias topm="top -o rsize"
alias topc="top -o cpu"
alias cpwd="pwd | pbcopy"
alias cl="fc -e - | pbcopy"                             # copy output of last cmd
alias cal="cal -3"
alias lsof="lsof -aP"
alias journalctl="journalctl -xn"
alias curl="curl -i"


# VCS

alias config="/usr/bin/git \
--git-dir=$HOME/.cfg/ \
--work-tree=$HOME"                                      # git repository for .files


# OS-SPECIFIC

os=$(uname -s)

if [ "$os" == "Linux" ]; then
    alias gno="xdg-open ."
    alias gdrive="google-drive-ocamlfuse $HOME/gdrive/"
    alias ll="ls -Flaht --color=auto"
fi

# APPS

[ -f $HOME/.aliases.local ] && source $HOME/.aliases.local

alias py2=python2.7
alias py3=python3.5
alias tmux_dt="tmux detach"
alias tmux_ls="tmux list-sessions"
