#!/usr/bin/env bash

export TERM=xterm-256color
export BASH="/usr/local/bin/bash"
export SHELL="$BASH"
export CLICOLOR=1
export EDITOR=vim
export VISUAL=vim
export PS1="\[\033[1;34m\]\W\[\033[32m\]\$(parse_git_branch)\[\033[00m\] $ " 
PATH="/usr/local/bin:/usr/local/sbin:~/.local/bin:/opt/local/bin:/opt/local/sbin:$MAVEN:$PATH"
export PATH
export GPG_TTY=$(tty)
export MYVIMRC="$HOME/.vim/.vimrc"
export VIMINIT="source $MYVIMRC"
export PGPASSFILE="$HOME/.psql/.pgpass"
export PSQLRC="$HOME/.psql/.psqlrc"
export TMUXHOME="$HOME/.tmux"
export TMUXCONF="$TMUXHOME/.tmux.conf"
export MAVEN="/Library/Java/Apache/apache-maven-3.3.9/bin/"
export GIT_CONFIG="$HOME/.gitrc/.gitconfig"
export HISTFILE="$HOME/.history/.bash_history"
export HISTFILESIZE=2000
export HISTSIZE=1000

[ -f $HOME/.exports.local ] && source $HOME/.exports.local
