#!/usr/bin/env bash

export TERM=xterm-256color
#export BASH="/bin/bash"
#export SHELL="$BASH"
export CLICOLOR=1
export EDITOR=vim
export PAGER=less
export VISUAL=vim
export PS1="\[\033[1;34m\]\W\[\033[32m\]\$(parse_git_branch)\[\033[00m\] $ " 
export PATH="$HOME/.local/bin:/usr/local/bin:/usr/local/sbin:/opt/local/bin:/opt/local/sbin:$PATH:/usr/sbin:/sbin"
export GPG_TTY=$(tty)
export MYVIMRC="$HOME/.vim/.vimrc"
export VIMINIT="source $MYVIMRC"
export PGHOME="$HOME/.psql"
export PGPASSFILE="$PGHOME/.pgpass"
export PSQLRC="$PGHOME/.psqlrc"
export TMUXHOME="$HOME/.tmux"
export TMUXCONF="$TMUXHOME/.tmux.conf"
export MAVEN="/Library/Java/Apache/apache-maven-3.3.9/bin/"
export GIT_CONFIG="$HOME/.gitrc/.gitconfig"
export HISTIGNORE="clear:bg:fg:cd:cd -:exit:date:w:* --help"
export HISTFILE="$HOME/.history/.bash_history"
export HISTFILESIZE=2000
export HISTSIZE=1000
export PS_FORMAT="pid,ppid,user,state,%cpu,%mem,pri,tty,wchan,args"

[ -f $HOME/.exports.local ] && source $HOME/.exports.local
