# ~/.inputrc
# Properties
# https://man.archlinux.org/man/readline.3

# cut the noise
set bell-style visible

# tab auto-comlete ignore-case
set completion-ignore-case on

set show-all-if-ambiguous on

# intelligent auto-complete
set skip-completed-text on

set editing-mode vi

# colored completions by indicating file type
set colored-stats on

set expand-tilde on

set completion-prefix-display-length 3

$if mode=vi
    set show-mode-in-prompt on
    set vi-ins-mode-string "\1\e[3 q\2"
    set vi-cmd-mode-string "\1\e[0 q\2"
    "jk": vi-movement-mode
    # https://stackoverflow.com/questions/10002356/what-does-set-keymap-vi-do
    #set keymap vi-command
$endif
