#!/usr/bin/env bash

alias sudo="sudo "                                      # enable aliases to be sudo’ed
alias ..="cd .."
alias ...="cd ../.."
alias cp="cp -iv"
alias mv="mv -iv"
alias mkdir="mkdir -pv"
alias rm="rm -v"
alias l="ls -Ft"
alias ll="ls -AFtlhpo"
alias lll="ls -aFtlhp"
alias cpd="cp -R"                                       # copy directory tree
alias rmd="rm -rfv"
alias path="echo -e ${PATH} \
| tr ':' '\n'"                                          # pretty PATH 
alias grep="grep -Iin --color"                          # ignore-case and binary
alias dua="du -hcxd 1"                                  # size of each top-level directory of .
alias duf="du -scxh"                                    # size of the filter given
alias topm="top -o rsize"
alias topc="top -o cpu"
alias cpp="pwd | pbcopy"                                 # copy current path
alias cpc="fc -e - | pbcopy"                             # copy output of last cmd
alias cal="cal -3"
alias lsof="lsof -aP"
alias journalctl="journalctl -xn"
alias curl="curl -i"
alias pgrep="pgrep -il"
alias ps="ps -rm"
alias df="df -Th"
alias vmstat="vmstat -SM"
alias cl="clear"
alias less="less -i"


# VCS

alias config="/usr/bin/git \
--git-dir=$HOME/.cfg/ \
--work-tree=$HOME"                                      # git repository for .files


# OS-SPECIFIC

os=$(uname -s)

if [[ "$os" == "Linux" ]]; then
    alias gno="xdg-open ."
    alias gdrive="google-drive-ocamlfuse $HOME/gdrive/"
    alias l="$(alias l | cut -d "'" -f 2) --color=auto"
    alias ll="$(alias ll | cut -d "'" -f 2) --color=auto"
    alias lll="$(alias lll | cut -d "'" -f 2) --color=auto"
    alias ps="ps --sort=-%mem,-%cpu"
    alias pbcopy="xclip -selection clipboard"
    alias pbpaste="xclip -selection clipboard -o"
elif [[ "$os" == CYGWIN* ]]; then
    alias l="$(alias l | cut -d "'" -f 2) --color=auto"
    alias ll="$(alias ll | cut -d "'" -f 2) --color=auto"
    alias lll="$(alias lll | cut -d "'" -f 2) --color=auto"
    alias pbcopy="putclip"
    alias pbpaste="getclip"
fi

# APPS

[ -f $HOME/.bashrc.d/.aliases.local ] && source $HOME/.bashrc.d/.aliases.local

