#!/usr/bin/env bash

alias sudo='sudo '                                      # enable aliases to be sudo’ed
alias cp="cp -iv"
alias mv="mv -iv"
alias mkdir="mkdir -pv"
alias rm="rm -v"
alias l="ls -AFt"
alias ll="ls -AFtlhpo"
alias lll="ls -aFtlhp"
alias cpd="cp -R"                                       # copy directory tree
alias rmd="rm -rfv"
alias path="echo -e ${PATH} \
| tr ':' '\n'"                                          # pretty PATH 
alias grep="grep -in --color"                           # ignore-case with line number
alias dua="du -hcxd 1"                                  # size of each top-level directory of .
alias duf="du -scxh"                                    # size of the filter given
alias pbcopy=$(hash pbcopy 2>/dev/null \
&& echo "pbcopy" || echo "xclip -selection clipboard")
alias pbpaste=$(hash pbpaste 2>/dev/null \
&& echo "pbpaste" || echo "xclip -selection clipboard -o")
alias topm="top -o rsize"
alias topc="top -o cpu"
alias cpp="pwd | pbcopy"                                 # copy current path
alias cpc="fc -e - | pbcopy"                             # copy output of last cmd
alias cal="cal -3"
alias lsof="lsof -aP"
alias journalctl="journalctl -xn"
alias curl="curl -i"
alias pgrep="pgrep -il"
alias ps="ps -rm"
alias df="df -Th"
alias vmstat="vmstat -SM"
alias cl="clear"
alias less="less -i"


# VCS

alias config="/usr/bin/git \
--git-dir=$HOME/.cfg/ \
--work-tree=$HOME"                                      # git repository for .files


# OS-SPECIFIC

os=$(uname -s)

if [ "$os" == "Linux" ]; then
    alias gno="xdg-open ."
    alias gdrive="google-drive-ocamlfuse $HOME/gdrive/"
    alias l="ls -AFt --color=auto"
    alias ll="ls -AFtlhpo --color=auto"
    alias lll="ls -aFtlhp --color=auto"
    alias ps="ps --sort=-%mem,-%cpu"
fi

# APPS

[ -f $HOME/.bashrc.d/.aliases.local ] && source $HOME/.bashrc.d/.aliases.local
