#!/usr/bin/env bash

export TERM=xterm-256color
#export BASH="/bin/bash"
#export SHELL="$BASH"
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export CLICOLOR=1
export EDITOR=vim
export PAGER="less -i"
export VISUAL=vim
export GOPATH="$HOME/go"
export GRADLE_HOME="/opt/gradle/gradle-6.3"
export PATH="${HOME}/.local/bin:${GOPATH}/bin:${GRADLE_HOME}/bin:/usr/local/bin:/usr/local/sbin:/opt/local/bin:/opt/local/sbin:${PATH}:/usr/sbin:/sbin"
export MYVIMRC="$HOME/.vim/.vimrc"
export VIMINIT="source $MYVIMRC"
export TMUXHOME="$HOME/.tmux"
export TMUXCONF="$TMUXHOME/.tmux.conf"
export HISTIGNORE="clear:bg:fg:cd:cd -:exit:date:w:* --help"
export HISTCONTROL=ignoreboth:erasedups
export HISTFILE="$HOME/.history/.bash_history"
export HISTFILESIZE=2000
export HISTSIZE=1000
export PS_FORMAT="pid,ppid,user,state,%cpu,%mem,pri,tty,wchan,args"
export LS_COLORS=$LS_COLORS:'tw=30:ow=34:'
export PGHOME="$HOME/.psql"
export PGPASSFILE="$PGHOME/.pgpass"
export PSQLRC="$PGHOME/.psqlrc"
export MYSQL_HOME="$HOME/.mysql"
export MYSQL_HISTFILE="$MYSQL_HOME/.mysql_history"
export MYSQL_TEST_LOGIN_FILE=$MYSQL_HOME/mylogin.cnf
export GPG_TTY=$(tty)
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)

[ -n "$SSH_CLIENT" ] && \
    export PS1="\u@$DOM:\W $ " || \
    export PS1="\[\e[34;1m\]\W\[\e[0;49;31m\]\$(parse_git_branch)\[\e[0m\] $ "


os=$(uname -s)
if [[ "$os" == "Darwin" ]] ; then
    [[ -d "$(brew --prefix)/opt/coreutils" ]] &&
        export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
fi

